body {
    margin: 0px;
    background-color: whitesmoke;
}
a:hover,a:active {
    color: #c81623;
}
.heading {
    width: 100%;
    height: 80px;
    background-image:url("../img/5bfd273bNb5bc5f2f.jpg");
}
.shortcut {
    height: 30px;
    line-height: 30px;
    width: 100%;
    background-color: #F1F1F1;
    margin: 0px;
}
.w {
   width: 1400px; margin: 0 auto;
}
.fleft{
    float: left;
    position: relative;
}
.fright {
    float: right;
    position: relative;
    color: #666666;
}
.dt i ,
.for i
{
    font: 400 14px/14px 宋体;
    position:absolute;
    right: 1px;
    top:13px;
    height: 8px;
    width: 15px;
    overflow: hidden;
}
.dt ,
.for
{
    padding: 0px 20px 0px 10px;
    position: relative;
}
.dt s ,
.for s
{
    position: absolute;
    top:-9px;
    left: 5px;
}
ul,li,img{padding: 0; margin: 0;}
ul {list-style: none;}
.fright li{
    float: left;
    padding: 0 10px;
}
.fright line {
    width: 2xp;
    height: 12px;
    margin-top: 9px;
    padding: 0;

}
.col-red{color: #c81623;}
a {
    color: #666666;
    text-decoration: none;
    font-size: small;
}
.logo {
    width: 220px;
    height: 280px;
    background-color:white;
    float: left;
    margin: 0 0 0 100px;
    padding-top: 20px;
    font-weight: normal;
}
.logo .dt{
    height: 135px;
    background-color:white;
    background-image: url("../img/sprite.head.png");
}
.logo .dd {
    height: 600px;
    background-color: white;
    padding-top: 15px;
}
.logo .item {
    height: 31dx;
    line-height: 16px;
    padding-left: 10px;
    color: white;
    font-size: 15px;
    font-family:SimSun-ExtB;
    color:#666666;
}
.logo.item h3 {
    float: left;
}
.search {
    width: 800px;
    height: 40px;
    float: left;
    margin-top: 20px;
    margin-left: 150px;
}
.search input {
    padding-top: 5px;
    padding-bottom: 0;
    padding-left: 5px;
    font-family: SimSun-ExtB;
    vertical-align: middle;
    width: 600px;
    height: 32px;
    border-style: none;
    color: #666666;
    background-color: white;
    float: left;
    outline-style: none;
}
.search input:active{
    background-color: white;
    border-radius: 0%;
}
.search button {
    padding-top: 5px;
    width:70px;
    height: 35px;
    background-color: red;
    border-style: none;
    float: left;
    cursor: pointer;
}
.car {
    width: 150px;
    height: 28px;
    background-color:white;
    float:left;
    margin: 20px 200px 0 0;
    text-align: center;
    padding-top: 7px;
    color:red;
    position: relative;
}
.icon2 {
    position: absolute;
    width: 16px;
    height:16px;
    font-size: 12px;
    line-height: 15px;
    color: white;
    background-color: red;
    border-radius: 50%;
}
.redian{
    width: 750px;
    height: 20px;
    padding: 7px 0;
    float: left;
    margin-left: 150px;
}
.nav {
    width: 50%;
    height:25px;
    float: left;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
    word-spacing: 15px;
}
.nav li {
    float: left;
    padding:0 20px;
}
.content {
    width: 680px;
    height: 600px;
    background-color: chocolate;
    margin: 13px 10px 10px 10px;
    float: left;
    background-size: 680px 600px;
    background-image: url("../img/5bff8104Nc8e98cbe.jpg");
    position: relative;
}
.circle {
    position: absolute;
    bottom: 8px;
    left: 50%;
    margin-left: -50px;
}
.circle li {
    width: 18px;
    height: 18px;
    border-radius: 9px;
    float: left;
    text-align: center;
    background-color:black;
    color: white;
    margin:0 2px;
    cursor:pointer;
}
.arrow-l,.arrow-r {
    position: absolute;
    width: 28px;
    height: 40px;
    background-color: lavender;
    top: 50%;
    margin-top: -31px;
    color: white;
    padding-top:20px;
    text-align: center;
}
.arrow-l {
    left: 0;

}
.arrow-r {
    right: 0;
}
.content_m {
    width: 250px;
    height: 600px;
    background-color: powderblue;
    float: left;
    margin:13px 10px 10px 0px;
    background-size:250px 200px ;
    background-repeat: no-repeat;
}
.content_m .d {
    width:249px;
    height:199px;
    background-image: url("../img/5bfbcbceN3d9e3b06.jpg");
    background-size: 249px 199px;
}
.content_m .dt {
    width:219px;
    height:190px;
    background-image: url("../img/5bfbcbceN3d9e3b06.jpg");
    background-size: 249px 190px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.content_m .dd {
     width:249px;
     height:199px;
     background-image: url("../img/5bfbcbceN3d9e3b06.jpg");
     background-size: 249px 199px;
 }
.content_r {
     width: 249px;
    height: 600px;
    float:left;
}
.tu {
    height: 190px;
    background-color:white;
}
.tu .dt {
    height: 100px;
    background-image: url("../img/no_login.jpg");
    background-position: top;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}
.tu .dt p{
    padding-top: 60px;
    text-align: center;
}
.tu .dt li {
    float:left;
    padding-left: 48px;
    text-align: center;
}
.tu .dd input{
    width: 80px;
    height: 35px;
    float: left;
    margin-left: 30px;
    background-color: white;
    color:red;
    border: none;
    cursor: pointer;
}
.tu .dd input:hover{
    color: #c81623;
    background-color:red;
    border-radius: 20%;
    color: white;
}
.tu.dd input :active {
    color: #c81623;
    background-color:red;
    border-radius: 20%;
    color: white;
}
.tu .d input {
    width: 80px;
    height: 35px;
    float: left;
    margin-left: 30px;
    background-color: black;
    color: gold;
    border: none;
    cursor: pointer;
}
.tu .d input:hover ,input:active{
    color: #c81623;
    background-color:red ;
    border-radius: 20%;
    color: white;
}
.more {
    height: 190px;
    background-color:white;
    border-bottom: 1px;
    color:#666666;
}
.more .dt p {
    line-height: 0px;
    float: left;
    font-size:small;
    color:black;
}
.more .dt a {
    float: right;
}
.more .dd  ul {
    padding: 50px 0 0 15px;
}
.service {
    height: 220px;
}
.service ul {
    width: 250px;

}
.service .dd li {
    width: 60px;
    height: 70px;
    float: left;
}
.service li a {
    display: block;
    height: 70px;
    text-align: center;
    padding-top: 47px;
    position:relative;
}
.service li a i {
    position: absolute;
    top: 10px;
    left: 14px;
    width: 28px;
    height: 33px;
    background-image: url("../img/sprite.service.png");
    background-position: right top;
    background-repeat: no-repeat;right top;
}
.tubiao {
    height: 45px;
    padding: 20px 0;
    background-color:#f5f5f5;
    clear: both;
    position: relative;
}
.items {
    width: 320px;
    position:absolute;
    top: 20xp;
    left: 50%;
}
.s2 {
    margin-left: -360px;
    margin-top: 5px;
}
.s3 {
    margin-right: 2px;
}
.s1 {
    margin-left: -700px;
}
.s4 {
    margin-left: 300px;
}
.lead dl {
    width: 190px;
    float: left
}
.lead dt {
    font-size: 18px;
    height: 28px;
    margin-left: 40px;
}
.ri {
    float: right;
    width: 250px;
    height: 150px;
    margin-right: 140px;
    margin-top: 20px;
    background-image: url("../img/截图20181201140452.png");
    background-repeat: no-repeat;
    background-position:left top;
}
.cha {
    text-align: right;
}
.footing .ending {
    border-bottom: 2px solid #e5e5e5;
    border-top:2px solid #e5e5e5 ;
    padding-top: 23px;
    padding-bottom: 15px;
    width: 1600px;
    height: 155px;
    background-color:whitesmoke;
    margin-bottom: 5px;
}
.footing .aaa {
    width: 1600px;
    height: 200px;
    background-color:whitesmoke;
    text-align: center;
}
.links {
    height: 25px;
}
.links a{
    padding: 0 20px;
    color: black;
}
.copyright {
    line-height: 23px;
    color: #666666;
    font-size:smaller;
    margin-top: 20px;
}
.message {
    margin-top: 25px;
}